"https://alecks.dev" {


    route /api* {
		uri strip_prefix /api
		reverse_proxy http://api_placeholder
	}


	reverse_proxy http://frontpage
}


"api.alecks.dev" {
    reverse_proxy http://api
}

"link.alecks.dev" {
	reverse_proxy http://url_shortener
}